.item {
  display: block;
  padding: 4px 0;

  &--grid {
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    width: 80px;
  }
  
  &__box {
    padding: 8px;
    border: 1px solid $cBorder;
    background-color: $cBackground;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    cursor: grab;
  }

  $root: &;
  
  &[data-pd-drag] {
    #{$root}__box {
      opacity: 0.5
    }
  }

  &[data-pd-ghost] {
    #{$root}__box {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}